
@model PagedList.IPagedList<HealthcareAnalytics.Models.Get_Under_Paymnent_Accounts_APD_Result>
@using PagedList.Mvc;


@{
    ViewBag.Title = "User Account List";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>

    <script type="text/javascript">
        $(function () {
            $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
                .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });

            $('#btn1').prop('disabled', true);
            $('#btn2').prop('disabled', true);

        });


    </script>

</head>
<body>

    @using (Html.BeginForm("APD_UserAccList", "WorkDriver", FormMethod.Get, new { @class = "search-wrapper cf" }))
    {
        @Html.AntiForgeryToken()
        <form>
            <div class="container-fluid" style="max-width:95%;">
                <div class="panel panel-body">
                    <div id="id_cases" class="panel-body tab-pane fade in active">

                        <div style="border:3px solid #034EA1 ; background-color:#034EA1; color:#d9edf7;">
                            <h4>
                                <span style="color:#d9edf7;" class="font-weight-bold large">
                                    User Account List


                                    @Html.ActionLink("BACK", "worklist_Home", new { }, new { @class = "medium btn-sm btn-primary", @style = "float:right;" })

                                </span>
                            </h4>
                        </div>
                        <hr />



                        <div class="row">
                            <div class="col-sm-2">
                                <p>
                                   
                                </p>
                            </div>

                            <div class="col-sm-2">

                            </div>

                            <div class="col-sm-4">
                               
                            </div>

                            <div class="col-sm-2">

                            </div>

                            <div class="col-sm-2 ">
                                <p>
                                    <label class="text-info small">SEARCH: </label>
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search", @class = "form-control" })
                                    
                                </p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-1">
                                <label class="text-info text-center center-block">CASE STATUS:  </label>
                            </div>
                            <div class="col-sm-1 ">
                                @Html.ActionLink("All", "APD_UserAcc_List", "WorkDriver", new { type = "All" }, new { @class = "btn-sm btn-block btn-primary text-center" })
                            </div>
                            <div class="col-sm-1">

                                @Html.ActionLink("Debit", "APD_UserAcc_List", "WorkDriver", new { type = "New" }, new { @class = "btn-sm btn-block btn-primary text-center" })
                            </div>
                            <div class="col-sm-1">
                                @Html.ActionLink("Zero Bal", "APD_UserAcc_List", "WorkDriver", new { type = "Zero Balance" }, new { @class = " btn-sm btn-block btn-primary text-center" })
                            </div>
                            <div class="col-sm-1">
                                @Html.ActionLink("Credit", "APD_UserAcc_List", "WorkDriver", new { type = "Credit Balance" }, new { @class = "btn-sm btn-block btn-primary text-center" })
                            </div>
                            <div class="col-sm-3">

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <table id="myDatatable" class="table pre-scrollable table-responsive table-condensed table-striped table-bordered table-dark">
                                    <thead class="text-center thead-dark table-responsive">
                                        <tr>
                                            <th>
                                                @*@Html.ActionLink("Account ID", "Underpayemnts_UserAcc_List", new { sortOrder = ViewBag.sort_AccountID })*@
                                                Account ID
                                            </th>
                                            <th>@Html.ActionLink("Discharge Date", "APD_UserAcc_List", new { sortOrder = ViewBag.DateSortParm })</th>
                                            <th>@Html.ActionLink("Patient Name", "APD_UserAcc_List", new { sortOrder = ViewBag.sort_PatientName })</th>
                                            <th>@Html.ActionLink("Payor", "APD_UserAcc_List", new { sortOrder = ViewBag.sort_PayorName })</th>
                                            <th>@Html.ActionLink("Account Balance", "APD_UserAcc_List", new { sortOrder = ViewBag.sort_Bal })</th>
                                            @*<th>@Html.ActionLink("Plan", "Underpayemnts_UserAcc_List", new { sortOrder = ViewBag.sort_Plan })</th>*@
                                            <th>@Html.ActionLink("Account Class", "APD_UserAcc_List", new { sortOrder = ViewBag.sort_AccClass })</th>
                                            @*<th>@Html.ActionLink("# of cases" , "Underpayemnts_UserAcc_List")</th>*@
                                            <th>
                                                Placement Date
                                            </th>
                                            <th class=" text-center">
                                                Case Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-responsive">
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.ActionLink((@Html.DisplayFor(m => item.Account)).ToString(), "APDViewCaseDetails", "WorkDriver", new { id = item.Account, linkName = "underPay" }, null)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => item.DischargeDate)
                                                </td>
                                                <td>@Html.DisplayFor(m => item.PatientName)</td>

                                                <td>
                                                    @Html.DisplayFor(m => item.Payor_Name)
                                                </td>
                                                <td class="text-right">
                                                    @Html.DisplayFor(m => item.convertBal)
                                                </td>
                                                @*<td >
                                                        @Html.DisplayFor(modelItem => item.Plan_Name)
                                                    </td>*@
                                                <td>
                                                    @Html.DisplayFor(m => item.Acct_Class)
                                                </td>
                                                <td></td>
                                                @if (item.flagCaseValue == 1)
                                                {
                                                    <td class="small text-center" style="color:dimgrey;font-weight:bold;font-size:small">DEBIT</td>
                                                }
                                                @if (item.flagCaseValue == 2)
                                                {
                                                    <td class="small text-center" style="color:red;font-weight:bold;font-size:small">CREDIT</td>
                                                }
                                                @if (item.flagCaseValue == 3)
                                                {
                                                    <td class="small text-center" style="color:forestgreen;font-weight:bold;font-size:small">ZERO BAL</td>
                                                }
                                               

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class=" center-block align-self-md-center paging-wrapper">
                                        <span class="text-primary center-block align-self-md-center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>

                                        @Html.PagedListPager(Model, page => Url.Action("APD_UserAcc_List",
                         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</body>

</html>
