@model HealthcareAnalytics.Models.Account_Case_Details
@using GridMvc.Html
@using HealthcareAnalytics.Models
@{
    ViewBag.Title = "TCG - Case Detials";
    //WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Index </title>

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script type="text/javascript">
            $(function () {
                // $.fn.datepicker.defaults.format = "mm/dd/yyyy";
                $('.datepicker').datepicker({
                    calendarWeeks: true,
                    todayHighlight: true,
                    autoclose: true,
                    format: "mm/dd/yyyy"
                });
            });



        </script>
    }
    <script type="text/javascript">


        $(function () {
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                alert("s");
                $(this).attr('data-target', '#modal-container1');
                $(this).attr('data-toggle', 'modal');
            });

            $('body').on('click', '.close', function () {
                $('#modal-container1').modal('hide');
            });

            $('#modal-container1').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

        });


        $(function () {
            $('body').on('click', '.modal-CreateLink', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container-create');
                $(this).attr('data-toggle', 'modal');
            });

            $('body').on('click', '.close', function () {
                $('#modal-container-create').modal('hide');
            });

            $('#modal-container-create').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

        });


    </script>

</head>
<body>


    @using (Html.BeginForm("editCaseDetails", "WorkDriver", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <form>


            <div class="container-fluid" style="max-width:90%;">
                <div class="panel panel-body">


                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" class="nav_link" data_id="1" href="#id_cases_main">CASES</a></li>
                                @*<li class="nav-item"><a data-toggle="tab" class="nav_link" data_id="2" href="#id_openTask">OPEN TASK</a></li>
                                    <li class="nav-item"><a data-toggle="tab" class="nav_link" data_id="3" href="#id_account">ACCOUNT</a></li>*@
                                @*<li class="nav-item"><a data-toggle="tab" class="nav_link" data_id="3" href="#id_insuranceBuckets">INSURANCE BUCKETS</a></li>*@
                                <li class="nav-item"><a data-toggle="tab" class="nav_link" data_id="3" href="#id_AccFin">ACCOUNT FINANCIAL</a></li>
                                <li class="nav-item"><a data-toggle="tab" class="nav_link" data_id="3" href="#id_caseHistory">CASE HISTORY</a></li>
                                @*<li class="nav-item"><a data-toggle="tab" class="nav_link" data_id="3" href="#id_Contacts">CONTACTS</a></li>*@
                            </ul>

                            <div class="tab-content">

                                <div id="id_cases_main" class="panel-body tab-pane fade in active">
                                    <div id="id_cases" class="panel-body">
                                        @*<div style="border:1px solid #ECF6F7; background-color:#ECF6F7; color:#034EA1;">
                                                <h4>
                                                    <span style="color:#034EA1;" class="font-weight-bold large">
                                                        CASE <button class="small center-block text-center btn-sm glyphicon glyphicon-forward" style="float:right;" id="btn_CaseDetails" OnClick="myFunction('id_cases_details');return false;"></button>
                                                    </span>
                                                </h4>
                                            </div>*@
                                        @*<hr />*@
                                        <div class="form-row">
                                            <div class="form-group col-sm-4" style="border:3px solid #034EA1 ; background-color:#034EA1; color:#d9edf7;">
                                                <h4>
                                                    <span style="color:#d9edf7;" class="font-weight-bold large">
                                                        CASE DETAILS
                                                    </span>
                                                </h4>
                                            </div>

                                            <div class="form-group col-sm-4" style="border:3px solid #034EA1 ; background-color:#034EA1; color:#d9edf7;">
                                                <h4>
                                                    @Html.HiddenFor(m => m.ACD_HspAccID)
                                                    <span style="float:none;">CASE ID : @Model.ACD_HspAccID</span>
                                                    @Html.HiddenFor(m => m.ACD_ID)
                                                </h4>
                                            </div>

                                            <div class="form-group col-sm-4 " style="border:3px solid #034EA1; background-color:#034EA1; color:#d9edf7;">
                                                <h4>
                                                    <span>
                                                        @if (Model.link == 1)
                                                        {
                                                            @Html.ActionLink("BACK", "Underpayemnts_UserAcc_List", new { }, new { @class = "medium btn-sm btn-primary", @style = "float:right;" })
                                                        }
                                                        @if (Model.link == 2)
                                                        {
                                                            @Html.ActionLink("BACK", "UserAcc_List", new { }, new { @class = "medium btn-sm btn-primary", @style = "float:right;" })
                                                        }
                                                    </span>
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <div id="id_cases_details" style="display:block;">

                                                    <div class="form-row">
                                                        <div class="form-group col-sm-3">
                                                            <label for="DDL_Status" class="text-info small">STATUS</label>
                                                            @Html.DropDownListFor(m => m.ACD_Status, (IEnumerable<SelectListItem>)ViewBag.SM, new { @class = "form-control dropdown" })
                                                        </div>

                                                        <div class="form-group col-sm-3">
                                                            <label for="DDL_Owner" class="text-info small">OWNER</label>
                                                            @if (Model.userFlag == 1)
                                                            {
                                                                @Html.TextBoxFor(m => m.userName, new { @Value = Model.userName, @class = "form-control", @readonly = "readonly" })
                                                                @Html.HiddenFor(m => m.ACD_Owner)
                                                            }
                                                            @if (Model.userFlag == 2)
                                                            {
                                                                @Html.DropDownListFor(m => m.ACD_Owner, (IEnumerable<SelectListItem>)ViewBag.UL, new { @class = "form-control dropdown" })
                                                                @Html.HiddenFor(m => m.ACD_Owner)
                                                            }

                                                        </div>
                                                        <div class="form-group col-sm-3">
                                                            <label for="dt_Date" class="text-info small">DISCHARGE DATE</label>
                                                            @Html.TextBoxFor(m => m.ACD_DueDate, new { @Value = Model.dateConvert.ToString(), @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                        @foreach (HealthcareAnalytics.Models.Get_Account_Info_for_ARandDenial_Result s in ViewBag.OriginalData)
                                                        {
                                                            <div class="form-group col-sm-3">
                                                                <label for="lbl_DeniedDays" class="text-info small">DENIED DAYS</label>
                                                                @Html.TextBox("0", 0, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                            @*<div class="form-group col-sm-2">
                                                                    <label for="lbl_RelatedCase" class="text-info small">RELATED CASE</label>
                                                                    @Html.TextBox("0", 0, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>*@
                                                        }

                                                    </div>


                                                    <div class="form-row">
                                                        <div class="form-group col-sm-3">
                                                            <label for="txt_Amount" class="text-info small">ACCOUNT BALANCE</label>
                                                            @*@Html.TextBoxFor(m => m.ACD_Amount, new { @Value = Model.convAmt, @class = "form-control " })*@
                                                            @Html.TextBoxFor(m => m.TotAccBal, new { @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                        <div class="form-group col-sm-3">
                                                            @if (Model.link == 1)
                                                            {
                                                                <label for="DDL_PayerReason" class="text-info small">UNDERPAYMENT REASON</label>
                                                                @*@Html.DropDownListFor(m => m.ACD_PayerReason, (IEnumerable<SelectListItem>)ViewBag.RC, new { @class = "form-control dropdown", @disabled = "disabled" })*@
                                                                @Html.DropDownListFor(m => m.ACD_PayerReason, (IEnumerable<SelectListItem>)ViewBag.UP, new { @class = "form-control dropdown" })
                                                                @Html.HiddenFor(m => m.link)
                                                            }
                                                            @if (Model.link == 2)
                                                            {
                                                                <label for="DDL_PayerReason" class="text-info small">PAYER DENIAL</label>
                                                                @Html.DropDownListFor(m => m.ACD_PayerReason, (IEnumerable<SelectListItem>)ViewBag.RC, new { @class = "form-control dropdown" })
                                                                @Html.HiddenFor(m => m.link)
                                                            }
                                                        </div>

                                                        <div class="form-group col-sm-3">
                                                            <label for="DDL_Type" class="text-info small">ACCOUNT BILL STATUS</label>
                                                            @Html.DropDownListFor(m => m.ACD_Type, (IEnumerable<SelectListItem>)ViewBag.ABS, new { @class = "form-control dropdown" })
                                                        </div>
                                                        <div class="form-group col-sm-3">
                                                            <label for="DDL_SubType" class="text-info small">ACCOUNT CLASS</label>
                                                            @Html.DropDownListFor(m => m.ACD_SubType, (IEnumerable<SelectListItem>)ViewBag.AS, new { @class = "form-control dropdown" })
                                                        </div>
                                                    </div>


                                                    <div class="form-row">
                                                        <div class="form-group col-sm-3">
                                                            @if (Model.link == 1)
                                                            {
                                                                <label for="DDL_PrimaryReason" class="text-info small">PAYER PRIMARY REASON</label>
                                                                @*@Html.DropDownListFor(m => m.ACD_PrimaryReason, (IEnumerable<SelectListItem>)ViewBag.UP, new { @class = "form-control dropdown" })*@
                                                                @Html.TextBoxFor(m => m.ACD_PrimaryReason, new { @value = Model.ACD_PrimaryReason.ToString(), @class = "form-control" })
                                                            }
                                                            @if (Model.link == 2)
                                                            {
                                                                <label for="DDL_PrimaryReason" class="text-info small">PRIMARY REASON</label>
                                                                @Html.DropDownListFor(m => m.ACD_PrimaryReason, (IEnumerable<SelectListItem>)ViewBag.DS, new { @class = "form-control dropdown" })
                                                            }
                                                        </div>
                                                        <div class="form-group col-sm-3">
                                                            <label for="DDL_Type" class="text-info small small">PRIORITY</label>
                                                            @Html.DropDownListFor(m => m.ACD_Priority, (IEnumerable<SelectListItem>)ViewBag.PM, new { @class = "form-control dropdown" })
                                                        </div>
                                                        <div class="form-group col-sm-3">
                                                            <label for="dt_Date" class="text-info small small">FOLLOW-UP DATE</label>
                                                            @Html.TextBoxFor(m => m.ACD_FollowUpDate, new { @Value = Model.dateFollowUp.ToString(), @class = "form-control datepicker" })
                                                        </div>
                                                        <div class="form-group col-sm-3">
                                                            <label for="DDL_Type" class="text-info small">TASK DESCRIPTION</label>
                                                            @Html.DropDownListFor(m => m.ACD_TaskFollowUp, (IEnumerable<SelectListItem>)ViewBag.TM, new { @class = "form-control dropdown" })
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-sm-12 ">
                                                            <label for="txt_Note" class="text-info small">ACCOUNT NOTES</label>
                                                            @Html.TextAreaFor(m => m.ACD_Comments, new { @class = "form-control ", @style = "widhth:500px; min-width: 100%;" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="id_account" class="panel-body">
                                        <div style="border:1px solid #ECF6F7;  background-color:#ECF6F7; color:#034EA1;">
                                            <h4>
                                                <span style="color:#034EA1;" class="font-weight-bold large">ACCOUNT INFO<button class="small center-block text-center btn-sm  glyphicon glyphicon-forward" style="float:right;" id="btn_Account" OnClick="myFunction('id_Accout_Detials');return false;"></button></span>
                                            </h4>
                                        </div>
                                        @*<hr />*@
                                        <div id="id_Accout_Detials" style="display:block;">

                                            <div class="form-row">
                                                <div class="form-group col-sm-12">
                                                    @foreach (HealthcareAnalytics.Models.Get_Account_Info_for_ARandDenial_Result s in ViewBag.OriginalData)
                                                    {
                                                        <div class="form-row">
                                                            <div class="form-group col-sm-3">
                                                                <label for="Txt_AccNo" class="text-info small">ACCOUNT NUMBER</label>
                                                                @Html.TextBoxFor(Model => @s.Hospital_Account_ID, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>

                                                            <div class="form-group col-sm-3">
                                                                <label for="Txt_PatientName" class="text-info small">PATIENT NAME</label>
                                                                @Html.TextBoxFor(Model => @s.Account_Patient_Name, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>

                                                            <div class="form-group col-sm-3">
                                                                @*<label for="Txt_AccStatus" class="text-info">ACCOUNT STATUS</label>
                                                                    @Html.TextBoxFor(Model => @s.Account_AR_Status, new { @class = "form-control ", @readonly = "readonly" })*@
                                                                <label for="Txt_AdmitDate" class="text-info small">ADMIT DATE</label>
                                                                @Html.TextBoxFor(Model => @s.convAdmDate, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>

                                                            <div class="form-group col-sm-3">
                                                                <label for="Txt_PatientType" class="text-info small">PATIENT TYPE</label>
                                                                @Html.TextBoxFor(Model => @s.Encounter_Type, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="form-row">
                                                        @foreach (HealthcareAnalytics.Models.Get_Account_Info_for_ARandDenial_Result s in ViewBag.OriginalData)
                                                        {

                                                            <div class="form-group col-sm-3">
                                                                <label for="Txt_CurrentFC" class="text-info small">CURRENT F/C</label>
                                                                @Html.TextBoxFor(Model => @s.Account_Financial_Class, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>

                                                            @*<div class="form-group col-sm-4">
                                                                    <label for="Txt_DischargeDate" class="text-info">DISCHARGE DATE</label>
                                                                    @Html.TextBoxFor(Model => @s.convDischDate, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>*@
                                                        }

                                                        @foreach (HealthcareAnalytics.Models.Get_Under_Paymnent_Accounts_Result v in ViewBag.underPaymentsLinkData)
                                                        {
                                                            <div class="form-group col-sm-3">
                                                                <label for="Txt_DischargeDispos " class="text-info small">DIAGNOSIS CODE</label>
                                                                @Html.TextBoxFor(Model => v.Diagnosis_Codes, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                            <div class="form-group col-sm-3">
                                                                <label for="Txt_DischargeDispos " class="text-info small">PLAN</label>
                                                                @Html.TextBoxFor(Model => v.Plan_Name, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>

                                                            <div class="form-group col-sm-3">
                                                                <label for="Txt_OperPhysician " class="text-info small">PAYOR</label>
                                                                @Html.TextBoxFor(Model => v.Payor_Name, new { @class = "form-control ", @readonly = "readonly" })
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            @*<hr />*@

                                            <div class="form-row">

                                                <div class="form-group col-sm-6">

                                                    <div class="panel panel-default ">
                                                        <table class="table table-striped table-bordered table-responsive table-condensed table-hover pre-scrollable">
                                                            <thead style="align-content:center; align-items:center; text-align:center">
                                                                <tr colspan="7" style="align-content:center; align-items:center">
                                                                    <th colspan="7" style="background-color:#fcbf49; align-content:center; align-items:center"> TRANSACTIONS</th>
                                                                </tr>
                                                                <tr style="align-content:center; align-items:center" class="small">
                                                                    <th>DATE</th>
                                                                    <th>STATUS</th>
                                                                    <th>ACCOUNT BALANCE</th>
                                                                    <th>ROOT CAUSE CODE</th>
                                                                    <th>USER</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (HealthcareAnalytics.Models.Account_Case_Detials_History item in ViewBag.caseDetailsHistory)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.convertDate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.ACDH_Status)
                                                                        </td>
                                                                        <td class="text-right">
                                                                            @Html.DisplayFor(modelItem => item.ACDH_Amount)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.ACDH_PayerReason)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.ACDH_Owner)
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                                <div class="form-group col-sm-6">

                                                    <table class="table table-striped table-bordered table-responsive table-condensed table-hover">
                                                        <tbody>
                                                            @foreach (HealthcareAnalytics.Models.Get_Account_Info_for_ARandDenial_Result s in ViewBag.OriginalData)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <label for="Txt_FinalBillDate" class="text-info">FIRST BILL DATE</label>
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(Model => @s.convFirstBillDate, new { @class = "form-control ", @readonly = "readonly" })
                                                                    </td>
                                                                    <td>
                                                                        <label for="Txt_LastPayDate" class="text-info">LAST PAY DATE</label>
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(Model => @s.convLastPayDate, new { @class = "form-control ", @readonly = "readonly" })
                                                                    </td>
                                                                </tr>
                                                            }


                                                        </tbody>
                                                    </table>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <div id="id_insuranceBuckets" class="panel-body tab-pane fade" style="display:none;">
                                    <div style="border:1px solid #ECF6F7; background-color:#ECF6F7; color:#034EA1;">
                                        <h4>
                                            <span style="color:#034EA1;" class="font-weight-bold large">INSURANCE BUCKETS <button class="small center-block text-center btn-sm  glyphicon glyphicon-forward" style="float:right;" id="btn_InsuranceBkt" OnClick="myFunction('id_InsuranceBuckets_detials');return false;"></button></span>
                                        </h4>
                                    </div>
                                    <hr />
                                    <div id="id_InsuranceBuckets_detials">
                                        @foreach (HealthcareAnalytics.Models.Get_Account_Info_for_ARandDenial_Result s in ViewBag.OriginalData)
                                        {
                                            <div class="panel panel-default pre-scrollable">
                                                @*<table class="table table-striped table-bordered table-responsive table-condensed table-hover">
                                                        <thead>
                                                            <tr style="align-content:center; align-items:center">
                                                                <th></th>
                                                                <th>ID</th>
                                                                <th>PLAN CODE</th>
                                                                <th>NAME</th>
                                                                <th>POLICY NUMBER</th>
                                                                <th>AUTHORIZATION NUMBER</th>
                                                                <th>AUTHORIZED DATE</th>
                                                                <th>COLLECTOR ID</th>
                                                                <th>BALANCE</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach:Persons">
                                                            <tr>
                                                                <td>
                                                                    <input name="chkbox" type="checkbox" />
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(Model => @s.Account_ID, new { @class = "form-control ", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(Model => @s.MS_DRG_Code, new { @class = "form-control ", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(Model => @s.Account_Name, new { @class = "form-control ", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(Model => @s.Account_Patient_Epic_ID, new { @class = "form-control ", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    <span data-bind="text:AuthorizationNumber"></span>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(Model => @s.Zero_Balance_Date, new { @class = "form-control ", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(Model => @s.Guarantor_Epic_ID, new { @class = "form-control ", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(Model => @s.Total_Account_Balance, new { @class = "form-control ", @readonly = "readonly" })
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>*@
                                            </div>
                                        }
                                    </div>
                                </div>


                                <div id="id_AccFin" class="panel-body tab-pane fade">
                                    <div style="border:1px solid #ECF6F7; background-color:#ECF6F7; color:#034EA1;">
                                        <h4>
                                            <span style="color:#034EA1;" class="font-weight-bold large">ACCOUNT FINANCIAL <button class="small center-block text-center btn-sm  glyphicon glyphicon-forward" style="float:right;" id="btn_CaseHistory" OnClick="myFunction('id_AccFin_detials');return false;"></button></span>
                                        </h4>
                                    </div>
                                    <hr />
                                    <div id="id_AccFin_detials">

                                        <table class="table table-striped table-bordered table-responsive table-condensed table-hover pre-scrollable">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <label for="Txt_FinalBillDate" class="text-info">ALLOWED AMOUNT DIFFERENCE(Current NAA Posted to Bucket)</label>
                                                    </td>
                                                    <td>
                                                        <label for="Txt_LastPayDate" class="text-info">EXPECTED ALLOWED AMOUNT</label>
                                                    </td>
                                                    <td>
                                                        <label for="Txt_FinalBillDate" class="text-info">ALLOWED AMOUNT DIFFERENCE(Payor-Specified)</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-right">
                                                        @Html.DisplayFor(m => m.convAllAmtDiff, new { @class = "form-control ", @readonly = "readonly" })
                                                        @Html.HiddenFor(m => m.ACD_AmtDiffNAA)
                                                    </td>
                                                    <td class="text-right">
                                                        @Html.DisplayFor(m => m.convExpAmtDiff, new { @class = "form-control ", @readonly = "readonly" })
                                                        @Html.HiddenFor(m => m.ACD_ExpAmt)
                                                    </td>
                                                    <td class="text-right">
                                                        @Html.DisplayFor(m => m.convAllAmtDiffPyr, new { @class = "form-control ", @readonly = "readonly" })
                                                        @Html.HiddenFor(m => m.ACD_AmtDiffPayor)
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <label for="Txt_TotalCharges" class="text-info text-right">TOTAL CHARGES</label>
                                                    </td>
                                                    <td>
                                                        <label for="Txt_TotalPayments" class="text-info text-right">TOAL PAYMENTS</label>
                                                    </td>
                                                    <td>
                                                        <label for="Txt_TotalAdjustments" class="text-info text-right">TOTAL ADJUSTMENTS</label>
                                                    </td>
                                                    <td>
                                                        <label for="Txt_CurrentBalance" class="text-info text-right">CURRENT BALANCE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        @Html.TextBoxFor(m => m.TotChrgAmt, new { @Value = Model.TotChrgAmt.ToString(), @class = "form-control text-right" })
                                                    </td>
                                                    <td class="text-right">
                                                        @Html.TextBoxFor(m => m.TotPayAmt, new { @Value = Model.TotPayAmt.ToString(), @class = "form-control text-right" })
                                                    </td>
                                                    <td class="text-right">
                                                        @Html.TextBoxFor(m => m.TotAdjAmt, new { @Value = Model.TotAdjAmt.ToString(), @class = "form-control text-right" })
                                                    </td>
                                                    <td class="text-right">
                                                        @Html.TextBoxFor(m => m.ACD_Amount, new { @Value = Model.TotAccBal.ToString(), @class = "form-control text-right" })
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div id="id_caseHistory" class="panel-body tab-pane fade">
                                    <div style="border:1px solid #ECF6F7; background-color:#ECF6F7; color:#034EA1;">
                                        <h4>
                                            <span style="color:#034EA1;" class="font-weight-bold large">CASE HISTORY <button class="small center-block text-center btn-sm  glyphicon glyphicon-forward" style="float:right;" id="btn_CaseHistory" OnClick="myFunction('id_CaseHistory_detials');return false;"></button></span>
                                        </h4>
                                    </div>
                                    <hr />
                                    <div id="id_CaseHistory_detials">
                                        <table class="table table-striped table-bordered table-responsive table-condensed table-hover pre-scrollable">
                                            <thead style="align-content:center; align-items:center; text-align:center" class="small text-info">
                                                @*<tr colspan="7" style="align-content:center; align-items:center">
                                                        <th colspan="7" style="background-color:#fcbf49; align-content:center; align-items:center"> TRANSACTIONS</th>
                                                    </tr>*@
                                                <tr style="align-content:center; align-items:center">
                                                    <th>DATE</th>
                                                    <th>STATUS</th>
                                                    <th>TOTAL CHARGES</th>
                                                    <th>TOTAL PAYMENTS</th>
                                                    <th>TOTAL ADJUSTMENTS</th>
                                                    <th>ACCOUNT BALANCE</th>
                                                    <th>ROOT CAUSE CODE</th>
                                                    <th>UNDERPAYMENT REASON</th>
                                                    <th>PRIORITY</th>
                                                    <th>FOLLOW-UP DATE</th>
                                                    <th>TASK DESCRIPTION</th>
                                                    <th>NOTES</th>
                                                    <th>USER</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (HealthcareAnalytics.Models.Account_Case_Detials_History item in ViewBag.caseDetailsHistory)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.convertDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ACDH_Status)
                                                        </td>
                                                        <td class="text-right">
                                                            @Html.DisplayFor(modelItem => item.totalCharges)
                                                        </td>
                                                        <td class="text-right">
                                                            @Html.DisplayFor(modelItem => item.totalPay)
                                                        </td>
                                                        <td class="text-right">
                                                            @Html.DisplayFor(modelItem => item.totalAdj)
                                                        </td>
                                                        <td class="text-right">
                                                            @Html.DisplayFor(modelItem => item.ACDH_Amount)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ACDH_PayerReason)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ACDH_PrimaryReason)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ACDH_Priority)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.convertFollowUpDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ACDH_TaskFollowUp)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ACDH_Comments)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ACDH_Owner)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div id="id_Contacts" class="panel-body tab-pane fade" style="display:none;">
                                    <div style="border:1px solid #ECF6F7; background-color:#ECF6F7; color:#034EA1;">
                                        <h4>
                                            <span style="color:#034EA1;" class="font-weight-bold large">CONTACTS <button class="small center-block text-center btn-sm  glyphicon glyphicon-forward" style="float:right;" id="btn_Contacts" OnClick="myFunction('id_contacts_detials');return false;"></button></span>
                                        </h4>
                                    </div>
                                    <hr />
                                    <div id="id_contacts_detials">

                                    </div>
                                </div>


                                <div class="modal-footer">
                                    <div class="col-sm-1" style="float:right;">
                                        @Html.ActionLink("BACK", "Underpayemnts_UserAcc_List", "WorkDriver", new { }, new { @class = "btn btn-primary" })
                                    </div>
                                    <div class="col-sm-1" style="float:right;">
                                        <button type="submit" class="btn btn-danger" id="btnSave">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>


        <script type="text/javascript">
            function myFunction(x) {
                var y = document.getElementById(x);
                if (x === "id_cases_details") {
                    if (y.style.display === "none") {
                        y.style.display = "block";
                    } else {
                        y.style.display = "none";
                    }
                }
                if (x === "id_OpenTask_Detials") {
                    if (y.style.display === "none") {
                        y.style.display = "block";
                    } else {
                        y.style.display = "none";
                    }
                }
                if (x === "id_Accout_Detials") {
                    if (y.style.display === "none") {
                        y.style.display = "block";
                    } else {
                        y.style.display = "none";
                    }
                }
                if (x === "id_InsuranceBuckets_detials") {
                    if (y.style.display === "none") {
                        y.style.display = "block";
                    } else {
                        y.style.display = "none";
                    }
                }
                if (x === "id_CaseHistory_detials") {
                    if (y.style.display === "none") {
                        y.style.display = "block";
                    } else {
                        y.style.display = "none";
                    }
                }
                if (x === "id_contacts_detials") {
                    if (y.style.display === "none") {
                        y.style.display = "block";
                    } else {
                        y.style.display = "none";
                    }
                }
            }
        </script>
        @*<div id="particles-js"></div>*@

    }


</body>
</html>
