
@model PagedList.IPagedList<HealthcareAnalytics.Models.Get_Under_Paymnent_Accounts_PB_Result>
@using PagedList.Mvc;


@{
    ViewBag.Title = "User Account List";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>

    <script type="text/javascript">
        $(function () {
            $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
                .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });

            $('#btn1').prop('disabled', true);
            $('#btn2').prop('disabled', true);

        });



    </script>

</head>
<body>

    @using (Html.BeginForm("PB_Underpayments_UserAccList", "WorkDriver", FormMethod.Get, new { @class = "search-wrapper cf" }))
    {
        @Html.AntiForgeryToken()
        <form>
            <div class="container-fluid" style="max-width:95%;">
                <div class="panel panel-body">
                    <div id="id_cases" class="panel-body tab-pane fade in active">

                        <div style="border:3px solid #034EA1 ; background-color:#034EA1; color:#d9edf7;">
                            <h4>
                                <span style="color:#d9edf7;" class="font-weight-bold large">
                                    User Account List


                                    @Html.ActionLink("BACK", "worklist_Home", new { }, new { @class = "medium btn-sm btn-primary", @style = "float:right;" })

                                </span>
                            </h4>
                        </div>
                        <hr />



                        <div class="row">
                            <div class="col-sm-2">
                                <p>
                                    @foreach (HealthcareAnalytics.Models.Get_Under_Paymnent_Accounts_PB_Result s in ViewBag.flagDetails)
                                    {
                                        <label class="text-info small">ACCOUNT CLASS: </label>
                                        if (s.flag == 1)
                                        {
                                            @*@Html.DropDownList("DDLValue", (IEnumerable<SelectListItem>)ViewBag.HPPB, new { @class = "form-control dropdown", @onchange = "this.form.action='Underpayemnts_UserAcc_List'; this.form.submit();" })*@
                                            @Html.DropDownListFor(m => s.flag, (IEnumerable<SelectListItem>)ViewBag.HPPB, "-Select-", new { @class = "form-control dropdown", @onchange = "this.form.action='Underpayemnts_UserAcc_List'; this.form.submit();" })
                                            @Html.HiddenFor(m => s.flag)
                                        }
                                        if (s.flag == 2)
                                        {
                                            @Html.DropDownListFor(m => s.flag, (IEnumerable<SelectListItem>)ViewBag.HPPB, "-Select-", new { @class = "form-control dropdown", @onchange = "this.form.action='PB_Underpayments_UserAccList'; this.form.submit();" })
                                            @Html.HiddenFor(m => s.flag)
                                        }
                                    }
                                </p>
                            </div>

                            <div class="col-sm-2">

                            </div>

                            <div class="col-sm-4">
                                <label class="text-info text-center center-block">ACCOUNT CLASS: PB </label>
                                
                            </div>
                            @*<div class="col-sm-2">

                            </div>*@
                            <div class="col-sm-2">

                            </div>

                            <div class="col-sm-2">
                                <p>
                                    <label class="text-info small">SEARCH: </label>
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search", @class = "form-control" })
                                    <!--  <input type="submit" class="btn btn-primary" value="Search" />-->
                                </p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-1">
                                <label class="text-info text-center center-block">CASE STATUS:  </label>
                            </div>
                           
                            <div class="col-sm-1">
                                @Html.ActionLink("All", "PB_Underpayments_UserAccList", "WorkDriver", new { type = "All" }, new { @class = "btn-sm btn-block btn-primary text-center" })
                            </div>
                            <div class="col-sm-1">

                                @Html.ActionLink("Debit", "PB_Underpayments_UserAccList", "WorkDriver", new { type = "New" }, new { @class = "btn-sm btn-block btn-primary text-center" })
                            </div>
                            <div class="col-sm-1">
                                @Html.ActionLink("Zero Bal", "PB_Underpayments_UserAccList", "WorkDriver", new { type = "Zero Balance" }, new { @class = " btn-sm btn-block btn-primary text-center" })
                            </div>
                            <div class="col-sm-1">
                                @Html.ActionLink("Credit", "PB_Underpayments_UserAccList", "WorkDriver", new { type = "Credit Balance" }, new { @class = "btn-sm btn-block btn-primary text-center" })
                            </div>
                            <div class="col-sm-3">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="myDatatable" class="table pre-scrollable table-responsive table-condensed table-striped table-bordered table-dark">
                                    <thead class="text-center thead-dark table-responsive">
                                        <tr>
                                            <th>
                                                @*@Html.ActionLink("Account ID", "Underpayemnts_UserAcc_List", new { sortOrder = ViewBag.sort_AccountID })*@
                                                Account ID
                                            </th>
                                            <th>@Html.ActionLink("Service Date", "PB_Underpayments_UserAccList", new { sortOrder = ViewBag.DateSortParm })</th>
                                            <th>@Html.ActionLink("Patient Name", "PB_Underpayments_UserAccList", new { sortOrder = ViewBag.sort_PatientName })</th>
                                            <th>@Html.ActionLink("Payor", "PB_Underpayments_UserAccList", new { sortOrder = ViewBag.sort_PayorName })</th>
                                            <th>@Html.ActionLink("Account Balance", "PB_Underpayments_UserAccList", new { sortOrder = ViewBag.sort_Bal })</th>
                                            @*<th>@Html.ActionLink("Plan", "Underpayemnts_UserAcc_List", new { sortOrder = ViewBag.sort_Plan })</th>*@
                                            <th>@Html.ActionLink("Account Class", "PB_Underpayments_UserAccList", new { sortOrder = ViewBag.sort_AccClass })</th>
                                            @*<th>@Html.ActionLink("# of cases" , "Underpayemnts_UserAcc_List")</th>*@
                                            <th>
                                                Placement Date
                                            </th>
                                            <th class=" text-center">
                                                Case Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-responsive">
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.ActionLink((@Html.DisplayFor(modelItem => item.Account)).ToString(), "PBviewCaseDetails", "WorkDriver", new { id = item.Account, linkName = "underPay" }, null)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DischargeDate)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.PatientName)</td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Payor_Name)
                                            </td>
                                            <td class="text-right">
                                                @Html.DisplayFor(modelItem => item.convertBal)
                                            </td>
                                            @*<td >
                                                @Html.DisplayFor(modelItem => item.Plan_Name)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Acct_Class)
                                            </td>
                                            <td></td>
                                            @if (item.flagCaseValue == 1)
                                            {
                                                <td class="small text-center" style="color:dimgrey;font-weight:bold;font-size:small">DEBIT</td>
                                            }
                                            @if (item.flagCaseValue == 2)
                                            {
                                                <td class="small text-center" style="color:red;font-weight:bold;font-size:small">CREDIT</td>
                                            }
                                            @if (item.flagCaseValue == 3)
                                            {
                                                <td class="small text-center" style="color:forestgreen;font-weight:bold;font-size:small">ZERO BAL</td>
                                            }
                                            @*<td class="small">

                                                @if (item.flagCaseValue == 1)
                                                {
                                                    <button id="btn1" class="btn-xs active btn-default btn-block">New</button>
                                                }
                                                @if (item.flagCaseValue == 2)
                                                {
                                                    <button id="btn2" class="btn-xs active btn-block btn-danger">Credit Bal.</button>
                                                }
                                                @if (item.flagCaseValue == 3)
                                                {
                                                    <button id="btn2" class="btn-xs active btn-block btn-success">Zero Bal.</button>
                                                }
                                            </td>*@

                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class=" center-block align-self-md-center paging-wrapper">
                                        <span class="text-primary center-block align-self-md-center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>

                                        @Html.PagedListPager(Model, page => Url.Action("PB_Underpayments_UserAccList",
                         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</body>

</html>
