
@model PagedList.IPagedList<HealthcareAnalytics.Models.Get_Under_Paymnent_Accounts_Result>
@using PagedList.Mvc;


@{
    ViewBag.Title = "User Account List";
}

<html>
<head>
     
    <script type="text/javascript">
        $(function () {
            $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
                .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
        });
    </script>

</head>
<body>

    @using (Html.BeginForm("Underpayemnts_UserAcc_List", "WorkDriver", FormMethod.Get, new { @class = "search-wrapper cf" }))
    {
        @Html.AntiForgeryToken()
        <form>
            <div class="container-fluid w-75">
                <div class="panel panel-body">
                    <div id="id_cases" class="panel-body tab-pane fade in active">

                        <div style="border:3px solid #034EA1 ; background-color:#034EA1; color:#d9edf7;">
                            <h4>
                                <span style="color:#d9edf7;" class="font-weight-bold large">
                                    Underpayments User's Account List
                                </span>
                            </h4>
                        </div>
                        <hr />



                        <div class="row">
                            <div class="col-sm-2">
                                @*<div class="row"><label for="StudentName">Financial Class</label></div>*@

                            </div>

                            <div class="col-sm-2">
                                @*<div class="row"><label for="StudentName">Current Payor</label></div>
                                    <div class="row"><label for="StudentName">Name</label></div>*@
                            </div>

                            <div class="col-sm-2">
                                @*<div class="row"><label for="StudentName">Denial Category</label></div>
                                    <div class="row"><label for="StudentName">Name</label></div>*@
                            </div>

                            <div class="col-sm-2">
                                @*<div class="row"><label for="StudentName">Encounter Type</label></div>
                                    <div class="row"><label for="StudentName">Name</label></div>*@
                            </div>

                            <div class="col-sm-2">
                                <p>
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search by payor, or Account ID", @class = "form-control" })
                                    <!--  <input type="submit" class="btn btn-primary" value="Search" />-->
                                </p>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <table id="myDatatable" class="table pre-scrollable table-responsive-md table-condensed table-striped table-bordered table-dark">
                                    <thead class="text-center large thead-dark">
                                        <tr>
                                            <th>
                                                @Html.ActionLink("Account ID", "Underpayemnts_UserAcc_List", new { sortOrder = ViewBag.sort_AccountID })
                                            </th>
                                            <th>@Html.ActionLink("Admission Date", "Underpayemnts_UserAcc_List")</th>
                                            <th>@Html.ActionLink("Patient Name", "Underpayemnts_UserAcc_List" , new { sortOrder = ViewBag.sort_PatientName })</th>
                                            @*<th>Current Financial Class </th>*@
                                            <th>@Html.ActionLink("Payor Name", "Underpayemnts_UserAcc_List", new { sortOrder = ViewBag.sort_PayorName })</th>
                                            <th>@Html.ActionLink("Account Balance", "Underpayemnts_UserAcc_List")</th>
                                            <th>@Html.ActionLink("Plan Namer", " ")</th>
                                            <th>@Html.ActionLink("Encounter Type", "Underpayemnts_UserAcc_List")</th>
                                            @*<th>Service Area</th>*@
                                            <th>@Html.ActionLink("# of cases" , "Underpayemnts_UserAcc_List")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.ActionLink((@Html.DisplayFor(modelItem => item.Account)).ToString(), "viewCaseDetails", "WorkDriver", new { id = item.Account, linkName = "underPay" }, null)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DischargeDate)
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Account_Name)</td>
                                                @*<td>
                                                    @Html.DisplayFor(modelItem => item.fi)
                                                </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Payor_Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Acct_Bal)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Plan_Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Acct_Class)
                                                </td>
                                                @*<td>
                                                    @Html.DisplayFor(modelItem => item.)
                                                </td>*@
                                                <td>1</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class=" center-block align-self-md-center paging-wrapper">
                                        <span class="text-primary center-block align-self-md-center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>

                                        @Html.PagedListPager(Model, page => Url.Action("Underpayemnts_UserAcc_List",
                         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</body>

</html>
