
@model PagedList.IPagedList<HealthcareAnalytics.Models.Get_AR_Info_for_Balance_Range_Result>  
 @using PagedList.Mvc;
 
    
   @{
    ViewBag.Title = "priority";
}
   

<html>
<head>
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" src="stylesheet">
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/fontawesome")
    <script type="text/javascript">
        $(function () {
            $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
                .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
        });
    </script>

</head>
<body>
    <div style=" width: 90%; margin: 10px auto">
        @using (Html.BeginForm("priority", "Home", FormMethod.Get, new { @class = "search-wrapper cf" }))
        {
        <div class="row">
            <div class="col-sm-2">
                <div class="row"><label for="StudentName">Financial Class</label></div>
                @*   @Html.DropDownListFor()*@
            </div>

            <div class="col-sm-2">
                <div class="row"><label for="StudentName">Current Payor</label></div>
                <div class="row"><label for="StudentName">Name</label></div>
            </div>

            <div class="col-sm-2">
                <div class="row"><label for="StudentName">Denial Category</label></div>
                <div class="row"><label for="StudentName">Name</label></div>
            </div>

            <div class="col-sm-2">
                <div class="row"><label for="StudentName">Encounter Type</label></div>
                <div class="row"><label for="StudentName">Name</label></div>
            </div>

            <div class="col-sm-2">
                <p>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Search by payor, or Account ID", @class = "form-control" })
                    <!--  <input type="submit" class="btn btn-primary" value="Search" />-->
                </p>
            </div>

        </div>
           
        }

        <table id="myDatatable" class="paleBlueRows">
            <tr>
                <th>Account ID</th>
                <th>Admission Date</th>
               <th>Patient Name</th>
                <th>Current Financial Class </th>
                <th>Current Payor</th>
                <th>Account Balance</th>
                <th>Admitting Provider</th>
                <th>Encounter Type</th>               
                <th>Service Area</th>
                <th># of cases</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink((@Html.DisplayFor(modelItem => item.Hospital_Account_ID)).ToString(), "prioirty_CaseList", "Home", new { id = item.Hospital_Account_ID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Admission_Date)
                    </td>
                   <td>@Html.DisplayFor(modelItem => item.Account_Patient_Name)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Primary_Coverage_Payor_Financial_Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Primary_Coverage_Payor_Name)
                    </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.Total_Account_Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Admitting_Provider_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Encounter_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account_Service_Area_Name)
                    </td>
                    <td>1</td>

                </tr>
            }

        </table>
        <br />
        <div class="paging-wrapper">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("priority",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>

</body>

</html>
