@model HealthcareAnalytics.Models.forgotPassword

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (@Html.BeginForm("IdentifyAccount", "Account", FormMethod.Post, new { @class = "my_form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        <div class="login-container login-form">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 style="text-align:center">Reset your password?</h4>
                    <div class="form-group">

                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", required = "Email Id is required" } })
                            @Html.ValidationMessageFor(model => model.email, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    
                   <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Reset" class="btn btn-primary">
                        </div>
                        <br />
                        <br />
                        <div class="forgotbtn">
                            <b>@Html.ActionLink("Back to Login", "Login", "Home")</b>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


