@model HealthcareAnalytics.Models.RegistrationModel

@{
    ViewBag.Title = "Create";
}
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Create", "Email", FormMethod.Post, new { @class = "my_form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="login-container login-form">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 style="text-align:center; color:#dba560;">Create Your Account Here!</h3>


                        @Html.ValidationSummary(true, null, new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.first_name, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.first_name, null, new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.last_name, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.middle_name, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.middle_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.middle_name, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.username, null, new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.phone_number, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phone_number, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.email_id, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.TextBoxFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email_id, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.confirm_password, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.PasswordFor(model => model.confirm_password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.confirm_password, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-7">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>



                        <div>
                            @Html.ActionLink("Back to Login", "Login", "Home")
                        </div>

                    </div>
                </div>
            </div>
        </div>


    }
</div>


