@*@model List<HealthcareAnalytics.Models.Get_Account_Info_for_ARandDenial_Result>*@
@model HealthcareAnalytics.Models.Account_Case_Details
@{
    ViewBag.Title = "TCG - Case Details EDIT";

}


@using (Html.BeginForm("createNewCase_Details", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ACD_HspAccID);
    @Html.HiddenFor(m => m.ACD_ID);
    <form>

        <div class="container">
            <div class="panel panel-body">

                <div id="id_cases" class="panel-body">
                    <div style="border:3px solid #fcbf49; background-color:#fcbf49">
                        <h4>
                            <span style=" font-size:large">
                                CREATE A NEW CASE 
                            </span>
                            @*<span class="col-sm-2" stlye=":right">@Html.Label(Session["AccountID"].ToString(), Session["AccountID"].ToString(), new { @class = "form-control", @readonly = "readonly" })</span>*@
                        </h4>
                    </div>
                    <hr />
                    <div id="id_cases_details" style="display:block;">

                        <div class="form-row">

                            <div class="form-group col-sm-4">
                                <label for="DDL_Owner">Account ID</label>                                
                                @Html.TextBoxFor(item => item.ACD_HspAccID, new { @class = "form-control", @readonly = "readonly" })
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="DDL_Status">Status</label>
                                @*@Html.DropDownList("DDL_Status", ViewBag.SM as List<SelectListItem>, "Select", new { @class = "form-control dropdown is-valid" })*@
                                @*@Html.DropDownListFor(Model => item.Account_AR_Status, ViewBag.org_Mst as List<SelectListItem>, "Select", new { @class = "form-control dropdown is-valid" })*@
                                @Html.DropDownListFor(item => item.ACD_Status, ViewBag.SM as List<SelectListItem>, new { @class = "form-control dropdown" })
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="DDL_Owner">Owner</label>
                                @Html.DropDownListFor(item => item.ACD_Owner, ViewBag.UL as List<SelectListItem>, "Select", new { @class = "form-control dropdown is-valid" })
                                @*@Html.TextBoxFor(Model => item.Account_Patient_Name, new { @class = "form-control", @readonly = "readonly" })*@
                            </div>



                        </div>


                        <div class="form-row">

                            <div class="form-group col-sm-4">
                                <label for="DDL_Type">Type</label>
                                @Html.DropDownListFor(item => item.ACD_Type, ViewBag.ECT as List<SelectListItem>, "Select", new { @class = "form-control dropdown" })
                                @*@Html.TextBoxFor(Model => item.Encounter_Type, new { @class = "form-control ", @readonly = "readonly" })*@

                            </div>

                            <div class="form-group col-sm-4">
                                <label for="DDL_SubType">Sub-Type</label>
                                @Html.DropDownListFor(item => item.ACD_SubType, ViewBag.PRM as List<SelectListItem>, "Select", new { @class = "form-control dropdown" })
                                @*@Html.TextBox(@item.ACD_SubType, new { @class = "form-control ", @readonly = "readonly" })*@
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="DDL_PayerReason">Payer Reason</label>
                                @Html.DropDownListFor(item => item.ACD_PayerReason, ViewBag.PRM as List<SelectListItem>, "Select", new { @class = "form-control dropdown" })
                                @*@Html.TextBoxFor(Model => item.Primary_Coverage_Payor_Name, new { @class = "form-control ", @readonly = "readonly" })*@
                            </div>

                        </div>


                        <div class="form-row">

                            <div class="form-group col-sm-4">
                                <label for="txt_Amount">Amount</label>
                                @*<input type="text" class="form-control is-invalid" id="txt_Amount" aria-label="Amount (to the nearest dollar)" />*@
                                @Html.TextBoxFor(item => item.ACD_Amount, new { @class = "form-control " })
                            </div>


                            <div class="form-group col-sm-4">
                                <label for="DDL_PrimaryReason">Primary Reason</label>
                                @Html.DropDownListFor(item => item.ACD_PrimaryReason, ViewBag.PRM as List<SelectListItem>, "Select", new { @class = "form-control dropdown" })
                                @*@Html.TextBoxFor(Model => item.Primary_Coverage_Payor_Financial_Class, new { @class = "form-control ", @readonly = "readonly" })*@
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="DDL_SecondaryReason">Secondary Reason</label>
                                @Html.DropDownListFor(item => item.ACD_SecondaryReason, ViewBag.PRM as List<SelectListItem>, "Select", new { @class = "form-control dropdown" })
                            </div>

                        </div>


                        <div class="form-row">

                            <div class="form-group col-sm-4">
                                <label for="txt_Note">Note</label>
                                @*<textarea id="txt_Note" style="width:800%" class="form-control"></textarea>*@
                                @Html.TextAreaFor(item => item.ACD_Comments, new { @class = "form-control ", @readonly = "readonly" })
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="DDL_PrinDiagOthers">Prin Diag/Others</label>
                                @Html.DropDownListFor(item => item.ACD_PrinDiag, ViewBag.PRM as List<SelectListItem>, "Select", new { @class = "form-control dropdown" })
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="DDL_PrinProcOthers">Prin Proc/Others</label>
                                @Html.DropDownListFor(item => item.ACD_PrinProc, ViewBag.PRM as List<SelectListItem>, "Select", new { @class = "form-control dropdown" })
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        @Html.ActionLink("BACK", "TCG_CaseDetails_Modified", new { id = Model.ACD_HspAccID })
                        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
}

<script type="text/javascript">
    $(function () {
        $('#btnSave').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            // $.fn.datepicker.defaults.format = "mm/dd/yyyy";
            $('.datepicker').datepicker({
                calendarWeeks: true,
                todayHighlight: true,
                autoclose: true
            });
        });



    </script>
}



