@model IEnumerable<HealthcareAnalytics.Models.Account_Case_Details>



@{

    ViewBag.Title = "CaseList";

}




<div class="container">
    <div class="panel panel-body">
        <div id="id_cases" class="panel-body">
            <div style="border:3px solid #fcbf49; background-color:#fcbf49">
                <h4>
                    <span style=" font-size:large">
                        CASE LIST   @Html.ActionLink("CREATE", "createNewCase_Details", new { id = ViewBag.One_ACD_data, case_ID = 0 }, new { @class = "btn btn-sm btn-danger glyphicon glyphicon-plus-sign", @style = "float:Right;" })
                    </span>
                    @*<span class="col-sm-2" stlye=":right">@Html.Label(Session["AccountID"].ToString(), Session["AccountID"].ToString(), new { @class = "form-control", @readonly = "readonly" })</span>*@
                </h4>
            </div>
            <hr />
            <div id="id_cases_details" style="display:block;">
                <div class="form-row">
                    <div class="form-group col-sm-12 ">

                        @*@Html.ActionLink("CREATE", "createNewCase_Details", new { id = ViewBag.One_ACD_data, case_ID = 0 }, new { @class = "btn btn-danger glyphicon glyphicon-plus-sign", @style = "float:left;" })*@

                    </div>
                </div>
               
                    <div class="row">

                        <table class="table table-responsive table-bordered table-striped">

                            <tr class="info">
                                <th>CASE #</th>
                                <th>DATE</th>
                                <th>STAUTS</th>
                                <th>TOTAL BALANCE</th>
                                <th>ENCOUNTER TYPE</th>
                                <th>DENIAL REASON</th>
                                <th>PRINCIPLE DIAGNOSIS</th>
                                <th>PRINCIPLE PROCEDURE</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink((@Html.DisplayFor(modelItem => item.ACD_ID)).ToString(), "TCG_CaseDetails_Modified", "Home", new { id = item.ACD_HspAccID, case_ID = item.ACD_ID }, null)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACD_CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACD_Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACD_Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACD_Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACD_PrimaryReason)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACD_PrinDiag)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ACD_PrinProc)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" ", "Edit_CaseList", new { id = item.ACD_HspAccID, case_ID = item.ACD_ID }, new { @class = "btn-sm glyphicon glyphicon-pencil badge badge-primary" })
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                  
                    <div class="row">
                        @*<div class="col-sm-1" style="float:right;">
                            <button type="submit" class="btn btn-danger" id="btnSave">Save</button>
                        </div>*@
                        @*@Html.ActionLink("Back to List", "Priority", new { sortOrder = " ", currentFilter = "", searchString = "", page = "" }, new { @class = "btn btn-primary" })*@
                        @Html.ActionLink("Back", "Priority", new { }, new { @class = "btn btn-primary", @style = "float:right" })

                    </div>
                </div>
            </div>
    </div>
</div>

@*<div id="test">
   
    @Html.Partial("_CaseDetails");
</div>*@
