<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - TCG</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/datetime")
    <script type="text/javascript" src="https://bpassoftware.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/utaltx/b/7/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=e1e08a33"></script>

    <script type="text/javascript">
        window.ATL_JQ_PAGE_PROPS = {
            "triggerFunction": function (showCollectorDialog) {
                //Requires that jQuery is available!
                jQuery("#jiraTicketCollector").click(function (e) {
                    e.preventDefault();
                    showCollectorDialog();
                });
            }
        };
    </script>

    <script>
        $(document).ready(function () {

            var x = this.location.pathname;
            var value = x.split("/");
            var loc = value[1];
            var v1 = value[3];
            //FOR WORKDRIVER ---- LIVE or STAGING or LOCAl
            if (loc == "ADDIWorkdriver" || loc == "staging_workdriver") {
                if (v1 == "Underpayemnts_UserAcc_List" || v1 == "PB_Underpayments_UserAccList" || v1 == "viewCaseDetails" || v1 == "editCaseDetails" || v1 == "PBViewCaseDetails" || v1 == "PBeditCaseDetails") {
                    if (loc == "ADDIWorkdriver") {//LIVE
                        $('a[href="/ADDIWorkdriver/WorkDriver/worklist_Home"]').parent().addClass('active');
                    }
                    else if (loc == "staging_workdriver") {//STAGING
                        $('a[href="/staging_workdriver/WorkDriver/worklist_Home"]').parent().addClass('active');
                    }
                }
            }
            else {//LOCAL
                v1 = value[2]
                if (v1 == "Underpayemnts_UserAcc_List" || v1 == "PB_Underpayments_UserAccList" || v1 == "viewCaseDetails" || v1 == "editCaseDetails" || v1 == "PBViewCaseDetails" || v1 == "PBeditCaseDetails") {
                    $('a[href="/WorkDriver/worklist_Home"]').parent().addClass('active');
                }
            }

            $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
            $('a[href="' + this.location.pathname + '"]').parent().parent().parent().addClass('active');
            setInterval(function () {

                var match = document.cookie.match(new RegExp('(^| )timeoutcookie=([^;]+)'));
                if (match) {

                    console.log("Cookie Found");

                } else {
                  
                    // window.location.href=  window.location.origin + "/Home/login";
                    window.location.href = window.location.pathname;

                    console.log("Cookie NOT Found");
                }

            }, 10000);
        });

        window.addEventListener("mousemove keypress", event => {
            var expires = "";

            var date = new Date();
            date.setTime(date.getTime() + (900 * 1000));
            expires = "; expires=" + date.toUTCString();

            document.cookie = "timeoutcookie" + "=" + (date.toUTCString() || "") + expires + "; path=/";
        });

    </script>

</head>
<body>

    <div class="">

        @if (Request.Url.PathAndQuery != "/addi" || Request.Url.PathAndQuery != "/addi/")
        {
            <div class="navbar navbar-inverse navbar-fixed-top center ">
                <div class="container-fluid ">
                    <div class="navbar-header ">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse " id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav  list-inline" style="margin-left: 18%;">
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AR Management<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href='@Url.Action("ARManagement", "Home")'>AR Management</a></li>
                                    <li><a href='@Url.Action("debitAR", "Home")'>Debit AR</a></li>
                                    <li><a href='@Url.Action("creditAR", "Home")'>Credit AR</a></li>
                                </ul>
                            </li>
                            <li><a href='@Url.Action("DenialsManagement", "Home")'>Denials Management</a></li>*@
                            <li><a href='@Url.Action("worklist_Home", "WorkDriver")'>Receivable Management</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Root Cause Trends<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href='@Url.Action("TrendGraph", "WorkDriver")'>HB Trends</a></li>
                                    <li><a href='@Url.Action("HBUnderpayTrend", "WorkDriver")'>HB Underpayment</a></li>
                                    <li><a href='@Url.Action("PBTrendGraph", "WorkDriver")'>PB Trends</a></li>
                                    <li><a href='@Url.Action("PBUnderpayTrends", "WorkDriver")'>PB Underpayments</a></li>
                                    <li><a href='@Url.Action("APDTrendGraph", "WorkDriver")'>APD Trends</a></li>
                                </ul>
                            </li>
                            <li><a href='@Url.Action("All", "ManageUsers")'>Manage Users</a></li>
                            @*<li><a href="@Url.Action("Roles","ApplicationRoles")">Manage Roles</a></li>*@
                        </ul>
                        <ul class="nav navbar-nav navbar-right top-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-circle fa-lg"></i> &nbsp; @ViewBag.UserFirst @ViewBag.UserLast
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("ChangePassword", "Account" )"><i class="fa fa-user-secret" aria-hidden="true"></i> Change Password </a></li>
                                    <li><a id="jiraTicketCollector"><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> Support </a></li>
                                    <li><a href="@Url.Action("login", "Home" )"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div>

        }

    </div>

    @*<div class=" body-content">

        <div class="form-row">
            <div class="form-group  col-sm-1">

            </div>
            <div class="form-group  col-sm-11">

            </div>
        </div>

        <div class="form-row">
            <div class="form-group  col-sm-1">
                <span style="float:left;margin-left:15% !important;margin-top:35% !important;"> <a href='@Url.Action("Login", "Home")'><img width="225" height="10" src="~/Images/ADDI_Logo.jpg" /></a></span>
            </div>

            <div class="form-group col-sm-11 text-left" style="margin-left:-10% !important;margin-top:2% !important;">
                @RenderBody()
            </div>
        </div>

        <footer>
            <div class="footer">
                <span style="color:white !important;margin-left: 50%;">All Rights Reserved 2018&reg;</span>
            </div>
        </footer>
    </div>*@

    <div class=" body-content">
        <div class="form-row">
            <div class="form-group  col-sm-11">
            </div>
            <div class="form-group  col-sm-1">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-11 text-left" style="margin-top:2% !important;">
                @RenderBody()
            </div>
            <div class="form-group  col-sm-1">                
            </div>
        </div>  
        <footer>
            <div class="footer">
                <span style="color:white !important;margin-left: 50%;">All Rights Reserved 2018&reg;</span>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>