<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>
    @*<nav class="navbar navbar-default ">
        <div class="container-fluid ">
            <div class="navbar-header login-bg">
                <a class="" href="#">
                    <img alt="Brand" src="~/Images/hennepin healthcare new logo.png" style="height: auto; min-width: 350px; padding-top: 12px;">                    
                </a>
            </div>           
        </div>
    </nav>*@

    <div style="margin-top:0% !important;">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
