@model HealthcareAnalytics.Models.ViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Users_Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_role_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_roles.role_code_short)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_email_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_added_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_added_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_add_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_add_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_updated_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_updated_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_delete_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_delete_flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_web_pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_web_pwd)
        </dd>
               
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>