@model HealthcareAnalytics.Models.ViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h4 style="padding-left: 100px;">Users Data</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_last_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_middle_name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.User_roles.role_code_short)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_roles.role_code_short)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_email_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_added_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_added_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_add_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_add_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_info.user_updated_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_info.user_updated_date)
        </dd>
               
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_info.user_ID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
