@model HealthcareAnalytics.Models.Users_Data

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Users_Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_role_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_role_key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_added_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_added_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_add_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_add_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_updated_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_updated_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_delete_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_delete_flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_web_pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_web_pwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otp_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otp_key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otp_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otp_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>