@{
    Layout = null;
}

<h1 class="heading">Advancing Care Information</h1>


    <div style="float: left; width: 50%">
        <p>
            In 2017 there are two measure options for reporting based upon your certified EHR Technology
            edition. By choosing either 2014 or 2015 from the edition dropdown list, your appropriate measure
            and objective set will populate this worksheet. In 2018, you will be required to report on at least
            90 days using technology certified to the 2015 edition. If your EHR's transition from the
            2014 edition to the 2015 edition occurs during CY2017, then either edition may be used as long as
            at leaset 90 days of reporting has occured with the technology edition.
        </p>
        <p>
            This report category is compiled of three scoring sections totaling to 155 overall points
            that will be capped at 100 possible unweighted category points.
        </p>
        <p>
            The base score section is comprised of the required measures and objects. To obtion the
            required 50 base points, you must attest to the Security and Risk Analysis measure and provide
            at least a 1 in the numerator for the numerator/denominator of the remaining measures.
        </p>
        <p>
            The submitted numerator and denominators of both the required and optional measure, except
            the e-prescribing measure, are included in the performance score section of 90 points. Along with
            the points based upon the rates of the measures, 10 of these points are provided by attesting
            yes to the immunization registry reporting. The patient Access and Health information Exchange
            required measures are worth double the points when using the 2014 CEHRT Edition than with the
            2015 CEHRT edition to compensate for the different in number of measure available.
        </p>
        <p>
            CEHRT bonus points are available based upon your answers provided on the improvement activities tab.
            Some activities have two check boxes, one to attest to engagement and another to attest to using CEHRT
            for this engagement. If at least one activity that is selected has both boxes checked, then you will obtaion
            10 Points.
        </p>
        <p>An additional 5 bonus points are available if you can attest "Yes" to the second button.</p>
    </div>

    
    <div style="float: right; width: 50%">
        <div class="vl" style="border-left: 1px solid black;height: 900px;">

            <div class="row">
                <div class="col-md-6">
                    <p>Certified EHR Technology Edition</p>
                </div>
                <div class="col-md-6">
                    @Html.DropDownList("year", new List<SelectListItem>
               {
                   new SelectListItem{Text="2014", Value="1"},
                   new SelectListItem{Text="2015", Value="2"}

               })
                </div>
            </div>
            <h3 class="lines">Required Measures and Objectives</h3>

            <div class="row" id="line">
                <div class="col-md-9">
                    <p>Have you followed the proper steps to secure your patient's ePHI data in CEHRT?</p>
                </div>
                <div class="col-md-3">
                    <label>@Html.RadioButton("ABC", "1")Yes</label>
                    <label>@Html.RadioButton("ABC", "2")No</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    
                    <div class="row">
                        <div class="col-md-11">
                            <p>e-Prescribing: Using CEHRT to electronically transmit permissible prescriptions.</p>
                        </div>
                        <div class="col-md-1">



                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <p>Denominator: Number of prescriptions written(other than the controlled  substances).</p>
                        </div>
                        <div class="col-md-1">



                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <p>Numerator: Number provided online ability to view, download, and transmit their PHI to a third party.</p>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Num</th>
                                <th>Den</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>  @Html.TextBox("n", "", new { @class = "css-class" })</td>
                                <td> @Html.TextBox("a", "", new { @class = "css-class" })</td>

                            </tr>

                            <tr>
                                <td>@Html.Label("Rate", new { @class = "mycl" })</td>
                                <td> @Html.TextBox("a", "", new { @class = "css-class" })</td>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

            


<div>
           
        </div>




        </div>
</div>
